
.blue{
	color: blue;
}
.black{
	color: black;
}
.green{
	color: rgb(50,200,50);
}
.greyBack{
	background-color: #D3D3D3;
}
.whiteBack{
	background-color: white;
}
.square{
	position:relative;
	height: 60px;
	width: 60px;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	text-align: center;
    overflow: visible;
}
.sideButton{
    height: 30px;
	width: 100px;
}
.center{
    text-align: center;
    left: 50%;
    height: 40px;
	width: 100%;
}
.centerTable{
    text-align: center;
    height: 64px;
	width: 100%;
}