<div class="center" style="margin-top: 50px">WELCOME!</div>
<div class="center"><a href="../src/#/sudoku/20">Sudoku(Very Easy)</a></div>
<div class="center"><a href="../src/#/sudoku/30">Sudoku(Easy)</a></div>
<div class="center"><a href="../src/#/sudoku/40">Sudoku(Medium)</a></div>
<div class="center"><a href="../src/#/sudoku/50">Sudoku(Hard)</a></div>
<div class="center"><a href="../src/#/sudoku/60">Sudoku(Very Hard)</a></div>
<div class="center"><a href="../src/#/sudoku/70">Sudoku(Insane)</a></div>